

#conteItemsCarrusel{
 padding:unset;
 margin: auto;
    height: 500px;
    overflow: hidden;

  
}



.itemCarrusel{
 
    height: 100%;
  
}

.tarjetaCarrusel{
    height: 100%;
 

}

.flechasCarrusel{
  
    height: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}



a{
text-decoration: none;


    
    
}

#contePuntos{
display: flex;
    justify-content: space-around;
}


#contePuntos > a{
   font-size: 1.5em;
   cursor: pointer;
   font-style: none;
  
}

img{
width: 100%;
height: 100%;
}

