
    
   /*footer*/
   footer{
    width: 100%;
    background: rgb(1, 65, 54);
     color: rgb(238, 238, 238);
    
 }
 
 .container-footer-all{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     padding: 3px;
 
 }
 
 .container-body{
     display: flex;
     justify-content: space-between;
 }
 
 .colum1{
     max-width: 400px;
     
 }
 
 .colum1 h3{
     font-size: 20px;
 }
 .colum1 p{
     font-size: 14px;
     color: cornsilk;
     margin-top:  1px;
 }
 
 .colum2{
     max-width: 400px;
     font-size: 20px;
 }
 
 .colum2 .row{
     margin-top: 0px;
     display: flex;
 }
 
 .row label{
     margin-top: 10px;
     margin-left: 20px;
     color: cornsilk;
 }
 
 .colum3{
     max-width: 400px;
 
 }
 
 .colum3{
     font-size: 20px;
 }
 
 .row2{
     margin-top: 20px;
     display: flex;
 }
 
 .row2 label{
     margin-top: 10px;
     margin-left: 20px;
     max-width: 130px;
 
 }
 
 .container-footer{
     width: 100%;
     background: rgb(18, 18, 19);
     
  
 }
 
 .footer{
     display: flex;
     max-width: 1200px;
     justify-content: space-between;
     margin: auto;
     padding: 3px;
 
 }
 
 
 
 .copyright{
     color: #c7c7c7;
 }
 
 .copyright a{
     text-decoration: none;
     color:  white;
     font-weight: bold;
 }
 
 .information a{
     text-decoration: none;
     color:white
 }
 
 
 @media screen and (max-width: 1100px){
     .container-body{
         flex-wrap: wrap;
     }
 
    
 
 .colum1{
     max-width: 100%;
 }
 
 
     .colum2,
     .colum3{
      margin-top: 40px;   
     }
     
         
    }

     .logo{
         width: 80px;
         height: 50px;
     }